html, body {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: Tahoma, sans-serif;
}

.btn-main {
  background-color: #333;
  color: #fff;

  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.main{
  text-align: center;
}
.gameBackground{
  min-height: 89vh;
  background: url(http://cdn.wallpapersafari.com/49/80/21L9av.jpg);
  /*background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar{
  margin: 0;

}

.navbar-inverse .navbar-brand {
    color: #7FFF00;
}



.btn-main {
  background-color: #333;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
  border: black solid 2px;
  }

  .gameSpecial{
    margin-top: 20vh;
    margin-bottom: 40px;
    color: #7FFF00;

  }

  .shadowText{
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
  }

  .footer{
    text-align: left;
    color: #7FFF00;
    background-color: #333;
  }

  .footer p{
    margin: 0;
  }

  .greenText {
      color: #7FFF00;
  }

  .gameLinks {
      color: #7FFF00;
      font-size: 18px;
  }

  .leaderboardTable{
    color:#7FFF00;
    text-align: left;
  }

  .table-hover{
    background-color: black;
    color: #7FFF00;

  }

  .avatar{
    height: 60px;
    width: 60px;
    margin-top:30px;
  }

  .gameAvatar{
    height: 25vw;
    width: 25vw;
    border: black solid 5px;
    background: purple;
  }
  .leftText{
    text-align: left;
  }

  .gameProfile{
    height: 100px;
    width: 100px;

    border: black solid 5px;
    background: purple;
  }
