<!DOCTYPE html>
<html ng-app="arcade" lang="en">

<head>
    <title>Casey's Arcade</title>

</head>

<body>


    <div class="jumbotron gameBackground">
    <div class="container">
        <div class="row greenText">

            <span class="col-md-5" style="margin-top: 50px"><img class="avatar pull-left" src="http://ascendantjustice.com/files/voc/followup/flood.png"><h1 class="shadowText leftText">{{profCtrl.userData.userName}}</h1>
                  <br>
                  <p  ng-cloak class="shadowText leftText">{{profCtrl.userData.userName}}'s
                favorite game: {{profCtrl.userData.favoriteGame}}</p>
                <p ng-cloak class="shadowText leftText">{{profCtrl.userData.userName}}'s
                Arcade Points: {{profCtrl.userData.totalPoints}}</p>
                 </span>
            <span class="col-md-2"></span>
            <span class="col-md-6 "> <p class="shadowText leftText" style="margin-top: 50px">HighScores</p><table class="table table-hover table-responsive leaderboardTable pull-right">
                    <thead>
                      <tr>
                        <th>
                          Game
                        </th>
                        <th>
                          Score
                        </th>
                      </tr>
                    </thead>
                    <tbody ng-cloak ng-repeat="game in profCtrl.myGameStats">
                      <tr>
                        <td>
                          <a ng-cloak href="/{{game.game}}" >{{game.game}}</a>
                        </td>
                        <td>
                        {{game.highscore}}
                        </td>
                      </tr>
                    </tbody>
                  </table></span>

        </div>

        <div class="container greenText">
            <span class="gameIcon" ng-repeat="game in profCtrl.myGameStats">
              <p ng-cloak >{{game.game}}</p>
              <p ng-cloak>Last Played: {{game.lastPlayed | date}}</p><a href='/{{game.game}}' class="gameLinks">
                  <img class="gameProfile" src="{{game.gameIcon}}"></a>
              <p ng-cloak>HighestScore: {{game.highscore}}</p>
            </span>
        </div>


        <!-- <div class="row greenText">
              <span class="col-sm-2 col-md-2"></span>
                <div class="col-sm-2 col-md-2" ng-repeat="game in profCtrl.myGameStats">
                    <p >{{game.game}}</p>
                    Last Played: {{game.lastPlayed | date}}<a href='/snake' class="gameLinks">
                        <img class="gameProfile" src="{{game.gameIcon}}"></a>
                    HighestScore: {{game.highscore}}
                </div> -->

        <!-- <div class="col-sm-2 col-md-2">

                    <p>Tower Defense</p>
                    Last Played: Nov 1st, 2011<a href='/towerDefense' class="gameLinks">
                        <img class="gameProfile" src="../assets/towerDefense_icon.png"></a>
                        HighestScore: 9000
                </div> -->
    </div>
</div>

</div>

    <div class="footer">
        <p>&copy; Casey's Arcade 2016</p>
    </div>




</body>

</html>
