<!DOCTYPE html>
<html ng-app="arcade" lang="en">

<head>
    <title>Casey's Arcade</title>
    <link rel="stylesheet" href="./html/css/form.css">

</head>

<body>


    <div class="jumbotron gameBackground">
        <div class="container greenText">
            <div class="row" ng-show="!regForm">
                <span class="col-md-4"></span>
                <span class="col-md-4" style="margin-top: 50px"><h2>Registration Page</h2></span>
                <span class="col-md-4"></span>
            </div>
            <div class="row" ng-show="!regForm">
                <span class="col-md-3"></span>
                <span class="col-md-6 ">
                  Email<input class="form-control dark-form greenText" ng-model="userCtrl.email" placeholder="Email">
                  Username<input class="form-control dark-form greenText" ng-model="userCtrl.username" placeholder="Username">
                  Real Name<input class="form-control dark-form greenText" ng-model="userCtrl.realname" placeholder="Real Name">
                  Password<input type="password" class="form-control dark-form greenText" ng-model="userCtrl.passwordOne" placeholder="Password">
                  Password<input type="password" class="form-control dark-form greenText" ng-model="userCtrl.password" placeholder=" Verify Password">
                <span class="col-md-3"></span>
            </div>
            <div class="row" ng-show="!regForm">
                <span class="col-md-3"></span>
                <span class="col-md-6 "> <button type="submit" class="siteBtn" ng-click="userCtrl.register(); regForm=!regForm">Register</button> </span>
                <span class="col-md-3"></span>
            </div>

            <div ng-show="regForm">
                <div class="row">
                    <span class="col-md-4"></span>
                    <span class="col-md-4"><h2 style="margin-top:100px">Thanks For Registering, Please Login to Continue!</h2></span>
                    <span class="col-md-4"></span>
                </div>

                <div class="row">
                    <span class="col-md-3"></span>
                    <span class="col-md-6 ">
                      Email<input class="form-control dark-form greenText" ng-model="userCtrl.email" placeholder="Email">
                      Password<input type="password" class="form-control dark-form greenText" ng-model="userCtrl.password" placeholder="Password">
                    <span class="col-md-3"></span>
                </div>
                <div class="row">
                    <span class="col-md-3"></span>
                    <span class="col-md-6 "> <button type="submit" class="siteBtn" ng-click="userCtrl.login()">Login</button> </span>
                    <span class="col-md-3"></span>
                </div>

            </div>

        </div>
    </div>

    <div class="footer">
        <p>&copy; Casey's Arcade 2016</p>
    </div>


</body>

</html>
